.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.login-left {
    float: left;
    text-align: left
}

.login-right {
    float: right;
    text-align: right
}

.border-radius-login {
    border-radius: 5px;: #FFFFFF;
}

.border-radius-login-float {
    float: right;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
}

.cor-branca {
    color: #aaaaaa;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
